<div style="width: 70%; margin: 40px auto">

  <h1>Control de Empleados</h1>

  <!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input >
  </mat-form-field> -->

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="FirstSurname">
        <th mat-header-cell *matHeaderCellDef> FirstSurname </th>
        <td mat-cell *matCellDef="let element"> {{element.FirstSurname}} </td>
      </ng-container>

      <ng-container matColumnDef="SecondSurname">
        <th mat-header-cell *matHeaderCellDef> SecondSurname </th>
        <td mat-cell *matCellDef="let element"> {{element.SecondSurname}} </td>
      </ng-container>

      <ng-container matColumnDef="Area">
        <th mat-header-cell *matHeaderCellDef> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
      </ng-container>

      <ng-container matColumnDef="BirthDate">
        <th mat-header-cell *matHeaderCellDef> BirthDate </th>
        <td mat-cell *matCellDef="let element"> {{element.BirthDate}} </td>
      </ng-container>

      <ng-container matColumnDef="Salary">
        <th mat-header-cell *matHeaderCellDef> Salary </th>
        <td mat-cell *matCellDef="let element"> {{element.Salary}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
</div>